*
{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body
{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}

.login
{
    width: 247px;
    height: 273px;
    background: #333;
    top: 50%;
    color: #fff;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    padding: 70px 30px;
}
.logo
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -42.5px;
    left: calc(39%);
}
h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.login p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input
{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid#009688;
    background: transparent;
    outline: none;
    height: 40px;
    color: chocolate;
    font-size: 14px;
}
.login input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2552;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}

.login input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.login a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login a:hover
{
    color: #ffc107;
}
